body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ffffff, #e6a454);
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.cart-container {
    position: relative;
}

#cart-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
}

.info-text, .info-image {
    flex: 1;
    padding: 10px;
}

.info-image img {
    width: 100%;
    border-radius: 10px;
}

.tienda {
    text-align: center;
    padding: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.producto {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.agregar-articulo {
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input, button {
    padding: 10px;
    width: 80%;
    max-width: 300px;
}
/*Fuente del logo*/
.logo-container h1 {
    font-family: 'Croissant One', sans-serif;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ffffff, #e6a454);
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-info,
.footer-links,
.footer-contact {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-links a {
    margin: 0 10px;
    display: inline-block;
}

.footer-links img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.footer-links img:hover {
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    font-size: 14px;
}
